---
# Ansible renders this file from tack/opensearch-roles-mapping.yml.j2. The
# first start of a member reads it into the security index. It maps the Tack
# search user to the tack_search role and maps no other user or backend role.
_meta:
  type: rolesmapping
  config_version: 2
tack_search:
  reserved: true
  users:
    - {{ tack_search_username }}
