DATABASE_URL=postgres://tack:{{ tack_db_password }}@db:5432/tack?sslmode=disable
PORT=8000
ENV=production
LOG_LEVEL=info

POSTGRES_DB=tack
POSTGRES_USER=tack
POSTGRES_PASSWORD={{ tack_db_password }}

TACK_IMAGE={{ tack_image }}
