tack_provision_owner={{ tack_provision_owner | bool | lower }}
tack_app_guest={{ tack_app_guest | bool | lower }}
tack_queue_external_listener_enabled={{ tack_queue_external_listener_enabled | bool | lower }}
