plugin: community.proxmox.proxmox
url: https://vault.home.goodkind.io:8006
user: ansible@pam
token_id: ansible-token
token_secret: "{{ lookup('env', 'PROXMOX_API_TOKEN') }}"
validate_certs: false
want_facts: true
filters:
  - status = "running"
compose:
  ansible_host: proxmox_ipconfig0.ip | default(proxmox_net0.ip) | ipaddr('address')
groups:
  proxmox: true
  lxc: proxmox_type == "lxc"
  qemu: proxmox_type == "qemu"
