[Unit]
Description=Update system packages
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/package-updater.sh
TimeoutStartSec=1800
