# Tunnel settings for sit6-tunnel.service and sit6-tunnel-refresh.service
# (rendered by deploy-sit6.yml).
SIT6_TUNNEL_IFACE={{ sit6_tunnel_iface }}
SIT6_TUNNEL_LOCAL={{ sit6_tunnel_local_v4 }}
SIT6_TUNNEL_REMOTE_NAME={{ sit6_tunnel_remote_name }}
SIT6_TUNNEL_TTL={{ sit6_tunnel_ttl }}
SIT6_TUNNEL_LINK_ADDRESS={{ sit6_tunnel_link_address_v6 }}
SIT6_TUNNEL_PREFIX={{ sit6_tunnel_prefix_v6 }}
