# Internal link to OPNsense

[Match]
Name=enmwanbr0

[Network]
DHCP=no
IPv6AcceptRA=no
IPv4Forwarding=yes
IPv6Forwarding=yes
LinkLocalAddressing=ipv6

[Address]
Address=10.250.250.3/29

[Address]
Address=3d06:bad:b01:201::3/64
