datacenter = "{{ consul_datacenter | default('home') }}"
domain = "{{ consul_domain | default('int') }}"
data_dir = "{{ consul_data_dir | default('/var/lib/consul') }}"

bind_addr = "{{ '{{' }} GetAllInterfaces | include \"name\" \"{{ consul_bind_interface | default('eth0') }}\" | include \"type\" \"IPv6\" | attr \"address\" {{ '}}' }}"

retry_join = ["{{ consul_server_address }}"]

server = false
client_addr = "::1"
enable_local_script_checks = true

log_level = "INFO"
enable_syslog = false
