[ifmgr]
role = "{{ mwan_ifmgr_role }}"
reconcile_interval = "60s"
log_file = "/var/log/mwan-ifmgr.log"
json_log_file = "/var/log/mwan-ifmgr.jsonl"
{% if mwan_ifmgr_wan_enabled | bool %}
internal_prefix = "{{ mwan_internal_prefix }}"
opnsense_edge_v6 = "{{ mwan_opnsense_edge_ipv6 }}"
mwanbr_edge_v6 = "{{ mwan_mwanbr_edge_ipv6 }}"
{% endif %}

[ifmgr.iface.{{ mwan_ifmgr_iface_key }}]
name = "{{ mwan_ifmgr_iface_name }}"
dhcp_v4 = true
ra_solicit = true
dhcp_initial_backoff = "5s"
dhcp_max_backoff = "5m"

[ifmgr.modules.oobv6]
iface = "{{ mwan_ifmgr_iface_name }}"
oob_addr = "{{ mwan_ifmgr_oob_addr }}"
oob_table_id = 500

[ifmgr.modules.oobv4]
iface = "{{ mwan_ifmgr_iface_name }}"
oob_table_id = 500

[ifmgr.modules.ra_lost]
iface = "{{ mwan_ifmgr_iface_name }}"
ra_lost_alert_after = "5m"
