#
# reserved values
#
255	local
254	main
253	default
0	unspec
#
# local
#
#1	inr.ruhep

# Multi-WAN routing tables
{{ mwan_rt_tables.att }}	att
{{ mwan_rt_tables.webpass }}	webpass
{{ mwan_rt_tables.monkeybrains }}	monkeybrains
{{ mwan_rt_tables.cloudflared }}	cloudflared
