# Testbed MWAN config (suburban)
# Rendered by Ansible, deployed to /etc/mwan/config.toml

hostname = "suburban-testbed"
mwan_vmid = "950"
mwan_mgmt_addr = "3d06:bad:b01:200::950"
mwan_int_iface = "enmwanbr0"

[email]
smtp2go_api_key = "{{ mwan_smtp2go_api_key }}"
alert_email = "alex@goodkind.io"
from = "mwan-testbed@goodkind.io"
subject_prefix = "[MWAN-suburban]"
bind_iface = ""
min_level = "WARN"
cooldown = "5m"

[pve]
base_url = "https://127.0.0.1:8006/api2/json"
node = "hypervisor"
token_id = "root@pam!watchdog-test2"
token_secret = "{{ mwan_watchdog_pve_token_secret }}"

[network]
ping_target_ipv4 = "1.1.1.1"
ping_target_ipv6 = "2606:4700:4700::1111"
ping_targets = ["2606:4700:4700::1111", "2001:4860:4860::8888"]
curl_target = "https://ifconfig.co/ip"
last_deploy_path = "/var/run/mwan-last-deploy"
last_change_path = "/var/run/mwan-last-change"

[[network.wan_interfaces]]
name = "enwebpass0"

[[network.wan_interfaces]]
name = "enmbrains0"

[watchdog]
service_name = "{{ mwan_watchdog_service_name | default('mwan-watchdog') }}"
deploy_window_minutes = 30
connectivity_timeout_seconds = 60
check_interval_healthy_seconds = 30
check_interval_degraded_seconds = 10
post_rollback_grace_seconds = 120
alert_cooldown_seconds = 300
deploy_grace_period_seconds = 60
max_rollback_attempts = 3
snapshot_healthy_threshold = 20
max_known_good_snapshots = 3
hash_check_every_n_healthy = 10
min_snapshot_interval_seconds = 300
max_total_snapshots = 15
vsock_cid = 950
vsock_port = 50051
mwan_agent_tcp_addr = "[3d06:bad:b01:200::950]:50052"
log_file = "/var/log/mwan-watchdog-testbed.log"
json_log_file = "/var/log/mwan-watchdog-testbed.jsonl"
rollback_state_file = "/run/mwan-rollback-testbed.state"
rollback_lock_file = "/run/mwan-watchdog-testbed-rollback.lock"

[cutover]
current_real_ipv6 = "3d06:bad:b01:201::1/64"
current_real_ipv4 = "10.250.250.1/29"
new_real_ipv6 = "3d06:bad:b01:201::3/64"
new_real_ipv4 = "10.250.250.3/29"
vip_ipv6 = "3d06:bad:b01:201::1/64"
vip_ipv4 = "10.250.250.1/29"
opnsense_addr = "root@192.168.1.1"
failover_lxc_id = "100"
failover_lxc_iface = "eth1"
failover_lxc_wan_iface = "eth0"
failover_default_gw6 = ""
failover_default_gw4 = ""
failover_internal_pfx = "3d06:bad:b01:201::/64"
failover_opnsense_ll = ""
failover_ipv4_return = "10.250.250.0/29 via 10.250.250.2"
vrid = 51
master_priority = 150
backup_priority = 50
advert_interval = 1
health_check_interval = 10
health_check_weight = -110
health_check_fall = 3
health_check_rise = 2
ssh_timeout_sec = 10
verify_timeout_sec = 30
boot_wait_sec = 35

[opnsense]
# Brackets are required by RFC 3986 when a URL host is an IPv6 literal.
# This conditional brackets only when opnsense_addr looks like IPv6.
url = "https://{% if ':' in opnsense_addr and not opnsense_addr.startswith('[') %}[{{ opnsense_addr }}]{% else %}{{ opnsense_addr }}{% endif %}"
api_key = "{{ opnsense_api_key }}"
api_secret = "{{ opnsense_api_secret }}"
insecure = true
gateway_names = {{ opnsense_gateway_names | to_json }}

[opnsense.bgp]
router_id = "{{ opnsense_bgp_router_id }}"
firewall_source_v4 = "{{ opnsense_bgp_firewall_source_v4 }}"
firewall_source_v6 = "{{ opnsense_bgp_firewall_source_v6 }}"

{% for neighbor in opnsense_bgp_neighbors %}
[[opnsense.bgp.neighbors]]
address = "{{ neighbor.address }}"
description = "{{ neighbor.description }}"
preference = "{{ neighbor.preference }}"

{% endfor %}
[agent]
vsock_port = 50051
tcp_addr = "[::]:50052"
deploy_file = "/var/run/mwan-last-deploy"
log_file = "/var/log/mwan-agent.log"
debug = false

[bgp]
enabled = true
asn = {{ bgp_asn }}
router_id = "{{ bgp_router_id }}"
next_hop_v6 = "{{ bgp_next_hop_v6 }}"
keepalive_seconds = {{ bgp_keepalive_seconds }}
hold_seconds = {{ bgp_hold_seconds }}
listen_port = {{ bgp_listen_port }}

{% for neighbor in bgp_neighbors %}
[[bgp.neighbors]]
address = "{{ neighbor }}"

{% endfor %}
{% for neighbor in bgp_neighbors_v6 %}
[[bgp.neighbors_v6]]
address = "{{ neighbor }}"

{% endfor %}
[bgp.announce]
ipv4 = {{ bgp_announce_ipv4 | to_json }}
ipv6 = {{ bgp_announce_ipv6 | to_json }}
