- name: Prepare CT Container(s)
  hosts: "{{ ('ct_' + container_id) if (container_id | default('') | length > 0) else 'proxmox_all_lxc' }}"
  gather_facts: false
  vars_prompt:
    - name: container_id
      prompt: "Enter container ID (leave empty for all containers)"
      private: false
      default: ""

  tasks:
    - name: Update package lists
      apt:
        update_cache: true

    - name: Install locales package
      apt:
        name: locales
        state: present

    - name: Uncomment en_US.UTF-8 in locale.gen
      lineinfile:
        path: /etc/locale.gen
        regexp: '^# *en_US.UTF-8'
        line: 'en_US.UTF-8 UTF-8'
        state: present

    - name: Generate en_US.UTF-8 locale
      command: locale-gen

    - name: Update system locale
      command: update-locale LANG=en_US.UTF-8

    - name: Add LANG export to .bashrc
      lineinfile:
        path: /root/.bashrc
        line: 'export LANG="en_US.UTF-8"'
        state: present

    - name: Add LC_ALL export to .bashrc
      lineinfile:
        path: /root/.bashrc
        line: 'export LC_ALL="en_US.UTF-8"'
        state: present

    - name: Update package lists again
      apt:
        update_cache: true

    - name: Upgrade all packages
      apt:
        upgrade: dist

    - name: Install essential packages
      apt:
        name:
          - neovim
          - htop
          - curl
          - wget
          - net-tools
          - gpg
          - rsyslog
          - git
          - gh
          - git-lfs
          - jq
        state: present

    - name: Remove unnecessary packages
      apt:
        autoremove: true

    - name: Remove Python EXTERNALLY-MANAGED block
      file:
        path: /usr/lib/python3.*/EXTERNALLY-MANAGED
        state: absent

    - name: Disable networkd wait service
      systemd:
        name: systemd-networkd-wait-online.service
        enabled: false
        state: stopped

    - name: Set timezone to host timezone
      command: timedatectl set-timezone "{{ lookup('pipe', 'timedatectl show -p Timezone --value') }}"
      ignore_errors: true

    - name: Configure rsyslog for local time
      copy:
        dest: /etc/rsyslog.d/50-default-local.conf
        content: |
          # Use local time instead of UTC
          $ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
          $template TraditionalFormatWithLocalTime,"%timegenerated% %HOSTNAME% %syslogtag%%msg:::drop-last-lf%\n"
          $ActionFileDefaultTemplate TraditionalFormatWithLocalTime
      notify: restart rsyslog

    - name: Set 256-color terminal for root
      lineinfile:
        path: /root/.bashrc
        line: 'export TERM="xterm-256color"'
        state: present

    - name: Remove '[ -z "$PS1" ] && return' from .bashrc
      lineinfile:
        path: /root/.bashrc
        regexp: '^\[ -z "\$PS1" \] && return'
        state: absent

    - name: Disable default MOTD scripts
      file:
        path: /etc/update-motd.d/
        recurse: true
        mode: 'u-x,g-x,o-x'

    - name: Configure auto-login for root
      blockinfile:
        path: /etc/systemd/system/container-getty@1.service.d/override.conf
        create: true
        block: |
          [Service]
          ExecStart=
          ExecStart=-/sbin/agetty --autologin root --noclear --keep-baud tty%I 115200,38400,9600 $TERM

    - name: Create systemd system.conf.d directory
      file:
        path: /etc/systemd/system.conf.d
        state: directory
        mode: '0755'

    - name: Lower systemctl shutdown timeout to 15 seconds
      copy:
        dest: /etc/systemd/system.conf.d/timeout.conf
        content: |
          [Manager]
          DefaultTimeoutStopSec=15s

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes

    - name: Restart getty service
      systemd:
        name: container-getty@1.service
        state: restarted

    - name: Fetch and install authorized_keys from URL
      ansible.builtin.get_url:
        url: "https://github.com/agoodkind.keys"
        dest: /root/.ssh/authorized_keys
        mode: '0600'

  handlers:
    - name: restart rsyslog
      systemd:
        name: rsyslog
        state: restarted
