- name: Prepare CT Container(s)
  hosts: "{{ target_hosts | default('proxmox_all_lxc') }}"
  gather_facts: false
  tasks:
    - name: Filter by container ID if specified
      ansible.builtin.meta: end_host
      when:
        - container_id | default('') | length > 0
        - ansible_proxmox_vmid | default('') | string != container_id | string
    - name: Update package lists
      ansible.builtin.apt:
        update_cache: true

    - name: Install locales package
      ansible.builtin.apt:
        name: locales
        state: present

    - name: Uncomment en_US.UTF-8 in locale.gen
      ansible.builtin.lineinfile:
        path: /etc/locale.gen
        regexp: '^# *en_US.UTF-8'
        line: 'en_US.UTF-8 UTF-8'
        state: present

    - name: Generate en_US.UTF-8 locale
      ansible.builtin.command: locale-gen
      changed_when: false

    - name: Update system locale
      ansible.builtin.command: update-locale LANG=en_US.UTF-8
      changed_when: false

    - name: Add LANG export to .bashrc
      ansible.builtin.lineinfile:
        path: /root/.bashrc
        line: 'export LANG="en_US.UTF-8"'
        state: present

    - name: Add LC_ALL export to .bashrc
      ansible.builtin.lineinfile:
        path: /root/.bashrc
        line: 'export LC_ALL="en_US.UTF-8"'
        state: present

    - name: Update package lists again
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist

    - name: Install essential packages
      ansible.builtin.apt:
        name:
          - neovim
          - htop
          - curl
          - wget
          - net-tools
          - gpg
          - rsyslog
          - git
          - gh
          - git-lfs
          - jq
        state: present

    - name: Remove unnecessary packages
      ansible.builtin.apt:
        autoremove: true

    - name: Remove Python EXTERNALLY-MANAGED block
      ansible.builtin.file:
        path: /usr/lib/python3.*/EXTERNALLY-MANAGED
        state: absent

    - name: Disable networkd wait service
      ansible.builtin.systemd:
        name: systemd-networkd-wait-online.service
        enabled: false
        state: stopped

    - name: Set timezone to host timezone
      ansible.builtin.command: timedatectl set-timezone "{{ lookup('pipe', 'timedatectl show -p Timezone --value') }}"
      changed_when: false
      failed_when: false

    - name: Configure rsyslog for local time
      ansible.builtin.copy:
        dest: /etc/rsyslog.d/50-default-local.conf
        content: |
          # Use local time instead of UTC
          $ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
          $template TraditionalFormatWithLocalTime,"%timegenerated% %HOSTNAME% %syslogtag%%msg:::drop-last-lf%\n"
          $ActionFileDefaultTemplate TraditionalFormatWithLocalTime
        mode: '0644'
      notify: Restart rsyslog

    - name: Set 256-color terminal for root
      ansible.builtin.lineinfile:
        path: /root/.bashrc
        line: 'export TERM="xterm-256color"'
        state: present

    - name: Remove '[ -z "$PS1" ] && return' from .bashrc
      ansible.builtin.lineinfile:
        path: /root/.bashrc
        regexp: '^\[ -z "\$PS1" \] && return'
        state: absent

    - name: Disable default MOTD scripts
      ansible.builtin.file:
        path: /etc/update-motd.d/
        recurse: true
        mode: 'u-x,g-x,o-x'

    - name: Configure auto-login for root
      ansible.builtin.blockinfile:
        path: /etc/systemd/system/container-getty@1.service.d/override.conf
        create: true
        mode: '0644'
        block: |
          [Service]
          ExecStart=
          ExecStart=-/sbin/agetty --autologin root --noclear --keep-baud tty%I 115200,38400,9600 $TERM

    - name: Create systemd system.conf.d directory
      ansible.builtin.file:
        path: /etc/systemd/system.conf.d
        state: directory
        mode: '0755'

    - name: Lower systemctl shutdown timeout to 15 seconds
      ansible.builtin.copy:
        dest: /etc/systemd/system.conf.d/timeout.conf
        content: |
          [Manager]
          DefaultTimeoutStopSec=15s
        mode: '0644'

    - name: Reload systemd daemon
      ansible.builtin.systemd:
        daemon_reload: true

    - name: Restart getty service
      ansible.builtin.systemd:
        name: container-getty@1.service
        state: restarted

    - name: Fetch and install authorized_keys from URL
      ansible.builtin.get_url:
        url: "https://github.com/agoodkind.keys"
        dest: /root/.ssh/authorized_keys
        mode: '0600'

  handlers:
    - name: Restart rsyslog
      ansible.builtin.systemd:
        name: rsyslog
        state: restarted
