---
- name: Update Traefik Configuration
  hosts: traefik_servers
  become: true

  vars:
    traefik_config_dir: /etc/traefik
    traefik_user: traefik
    traefik_group: traefik
    repo_root: /usr/share/configs

  tasks:
    - name: Pull latest configs from git
      git:
        repo: https://github.com/agoodkind/configs.git
        dest: "{{ repo_root }}"
        version: main
        force: yes
      become: no
      delegate_to: localhost
      run_once: true

    - name: Template Traefik static configuration
      template:
        src: "{{ repo_root }}/traefik/traefik.yml.j2"
        dest: "{{ traefik_config_dir }}/traefik.yml"
        owner: "{{ traefik_user }}"
        group: "{{ traefik_group }}"
        mode: '0644'
        validate: '/usr/local/bin/traefik version || true'
      notify: restart traefik

    - name: Template Traefik dynamic routes
      template:
        src: "{{ repo_root }}/traefik/dynamic/routes.yml.j2"
        dest: "{{ traefik_config_dir }}/dynamic/routes.yml"
        owner: "{{ traefik_user }}"
        group: "{{ traefik_group }}"
        mode: '0644'

    - name: Template Traefik dynamic middlewares
      template:
        src: "{{ repo_root }}/traefik/dynamic/middlewares.yml.j2"
        dest: "{{ traefik_config_dir }}/dynamic/middlewares.yml"
        owner: "{{ traefik_user }}"
        group: "{{ traefik_group }}"
        mode: '0644'

    - name: Validate Traefik configuration
      command: /usr/local/bin/traefik version
      changed_when: false

  handlers:
    - name: restart traefik
      systemd:
        name: traefik
        state: restarted
