[Unit]
Description=Bring up AT&T VLAN interface after 802.1X authentication
After=wpa-authenticated.path
BindsTo=wpa-authenticated.path
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bringup-att-vlan.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


