[Unit]
Description=WPA Supplicant for AT&T 802.1X
After=network.target
Before=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStartPre=/sbin/ip link set {{ interface_mapping.eth1 }} up
ExecStart=/sbin/wpa_supplicant -Dwired -c /etc/wpa_supplicant/wpa_supplicant.conf -i {{ interface_mapping.eth1 }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
