[Unit]
Description=WAN Failover Monitor Timer
Requires=wan-monitor.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s

[Install]
WantedBy=timers.target

