[Unit]
Description=WAN Monitor Notifications
After=network-online.target
Wants=network-online.target
Before=wan-monitor.timer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/scripts/wan-monitor --notify-start
ExecStop=/opt/scripts/wan-monitor --notify-stop

[Install]
WantedBy=multi-user.target

