[Match]
Name={{ mwan_att_iface }}

[Network]
DHCP=yes
IPv6AcceptRA=yes
IPv4Forwarding=yes
IPv6Forwarding=yes

[DHCPv4]
RouteMetric=20

[DHCPv6]
UseDelegatedPrefix=yes
PrefixDelegationHint=::/60
WithoutRA=solicit
