[Unit]
Description=Post-authentication actions for AT&T VLAN interface
Description=VLAN is created declaratively by systemd-networkd via .netdev file
After=systemd-networkd.service
Wants=systemd-networkd.service
# Don't require wpa-authenticated.service to avoid circular dependency
# This service is triggered by wpa-authenticated.service but doesn't depend on it

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bringup-att-vlan.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
