[Unit]
Description=cloudflared
After=network-online.target mwan-update-routes.service
Wants=network-online.target mwan-update-routes.service

[Service]
TimeoutStartSec=15
Type=notify
User=cloudflared
Group=cloudflared

# Token is copied to disk by Ansible (root-owned, mode 0600).
ExecStart=/usr/bin/cloudflared tunnel run --token-file /etc/cloudflared/token

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

