[Unit]
Description=Reapply MWAN IPv6 NPT rules at boot
After=network-online.target nftables.service
Wants=network-online.target nftables.service

[Service]
Type=oneshot
# If we start too early (interfaces not present yet, nftables not ready), retry until it works.
Restart=on-failure
RestartSec=5

ExecStartPre=/usr/local/bin/mwan-wait-npt-prereqs.sh

ExecStart=/usr/local/bin/update-npt.sh {{ mwan_att_iface }}.{{ mwan_att_vlan_id }} {{ mwan_npt_att_prefix }}
ExecStart=/usr/local/bin/update-npt.sh {{ mwan_webpass_iface }} {{ mwan_npt_webpass_prefix }}
ExecStart=/usr/local/bin/update-npt.sh {{ mwan_monkeybrains_iface }} {{ mwan_npt_monkeybrains_prefix }}

[Install]
WantedBy=multi-user.target

