[Unit]
Description=WPA CLI Action Script Monitor
After=wpa_supplicant-mwan.service
BindsTo=wpa_supplicant-mwan.service

[Service]
Type=simple
EnvironmentFile=/etc/mwan/mwan.env
ExecStart=/sbin/wpa_cli -i ${MWAN_ATT_IFACE} -a /usr/local/bin/wpa-action.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
