[Unit]
Description=WPA Supplicant for AT&T 802.1X
After=systemd-networkd.service
Wants=systemd-networkd.service
Before=network-online.target

[Service]
Type=simple
Environment="OPENSSL_CONF=/etc/wpa_supplicant/openssl.cnf"
ExecStartPre=/bin/bash -c 'for i in {1..30}; \
    do if ip link show {{ mwan_att_iface }} >/dev/null 2>&1; then exit 0; fi; \
    sleep 1; done; \
    echo "Interface {{ mwan_att_iface }} not found after 30s"; \
    exit 1'
ExecStartPre=/bin/sleep 2
ExecStartPre=/sbin/ip link set {{ mwan_att_iface }} up
ExecStart=/sbin/wpa_supplicant -Dwired -i {{ mwan_att_iface }} -dd \
    -c /etc/wpa_supplicant/wpa_supplicant.conf \
    -P /run/wpa_supplicant-mwan.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
