MWAN_VMID=950
DEPLOY_WINDOW_MINUTES=30
CONNECTIVITY_TIMEOUT_SECONDS=60
CHECK_INTERVAL_HEALTHY=30
CHECK_INTERVAL_DEGRADED=10
ALERT_COOLDOWN_SECONDS=300
LOG_FILE=/var/log/mwan-watchdog-testbed.log
LOG_JSON_FILE=/var/log/mwan-watchdog-testbed.jsonl
ROLLBACK_STATE_FILE=/run/mwan-rollback-testbed.state
ALERT_EMAIL=alex@goodkind.io
SMTP2GO_API_KEY={{ mwan_smtp2go_api_key }}
EMAIL_MIN_LEVEL=WARN
EMAIL_COOLDOWN=5m
PVE_BASE_URL=https://127.0.0.1:8006/api2/json
PVE_NODE=hypervisor
PVE_TOKEN_ID=root@pam!watchdog-test2
PVE_TOKEN_SECRET={{ mwan_watchdog_pve_token_secret }}
MWAN_AGENT_TCP_ADDR=[3d06:bad:b01:200::950]:50052
MWAN_NETWORK_CONFIG=/etc/mwan-watchdog-testbed/network.toml
