{{ ansible_managed | comment }}
# cloudflare-dynamic-dns IPv6 config for {{ inventory_hostname }}
# Rendered by ansible/playbooks/deploy-ddns.yml

stack: ipv6
iface: {{ ddns_ipv6_iface }}
token: {{ ddns_cloudflare_token }}
domains:
{% for domain in ddns_ipv6_domains %}
  - {{ domain }}
{% endfor %}
{% if ddns_ipv6_priority_subnets is defined and ddns_ipv6_priority_subnets | length > 0 %}
priority-subnets:
{% for subnet in ddns_ipv6_priority_subnets %}
  - {{ subnet }}
{% endfor %}
{% endif %}
ttl: {{ ddns_ttl | default(1) }}
log-level: info
