# Simulated AT&T WAN
# In production: DHCP IPv4, DHCPv6-PD 2600:1700:2f71:c80::/60, 802.1X VLAN 3242
# In testbed: static IPv4, IPv6 RA from suburban, no VLAN

[Match]
Name=enatt0

[Network]
DHCP=no
IPv6AcceptRA=yes
IPv4Forwarding=yes
IPv6Forwarding=yes

[Address]
Address=10.240.205.2/24

[Route]
Gateway=10.240.205.1
Table=100

[DHCPv6]
UseDelegatedPrefix=no

[IPv6AcceptRA]
RouteMetric=1024
