# yaml-language-server: $schema=https://raw.githubusercontent.com/tg123/sshpiper/master/plugin/yaml/schema.json
version: "1.0"
pipes:
{% for service_name, service_info in service_mapping.items() %}
{% if service_name != 'proxy' and service_info.ipv6 is defined %}
  # Route for {{ service_name }}: user@{{ service_name }} -> user@{{ service_info.ipv6 }}
  - from:
      - username: "^(.+)@{{ service_name | regex_escape }}$"
        username_regex_match: true
        authorized_keys: /etc/sshpiper/authorized_keys
    to:
      host: "[{{ service_info.ipv6 }}]:22"
      username: "$1"
      private_key: /etc/sshpiper/upstream_id_ed25519
      ignore_hostkey: true
{% endif %}
{% endfor %}
  # Self-route: "proxy" username routes back to this container on port 2222
  - from:
      - username: "^(.+)@proxy"
        username_regex_match: true
        authorized_keys: /etc/sshpiper/authorized_keys
    to:
      host: "[::1]:2222"
      username: "$1"
      private_key: /etc/sshpiper/upstream_id_ed25519
      ignore_hostkey: true
