frr defaults traditional
hostname ${hostname}
log syslog informational
!
ip prefix-list DEFAULT-V4-IN seq 10 permit 0.0.0.0/0
%{ for index, prefix in lan_ipv4_prefixes ~}
ip prefix-list LAN-V4-OUT seq ${(index + 1) * 10} permit ${prefix}
%{ endfor ~}
!
ipv6 prefix-list DEFAULT-V6-IN seq 10 permit ::/0
%{ for index, prefix in lan_ipv6_prefixes ~}
ipv6 prefix-list LAN-V6-OUT seq ${(index + 1) * 10} permit ${prefix}
%{ endfor ~}
!
route-map LAN-V4-CONNECTED permit 10
 match ip address prefix-list LAN-V4-OUT
exit
!
route-map LAN-V6-CONNECTED permit 10
 match ipv6 address prefix-list LAN-V6-OUT
exit
!
router bgp ${bgp_asn}
 bgp router-id ${bgp_router_id}
 no bgp default ipv4-unicast
 neighbor ${peer_ipv4_address} remote-as internal
 neighbor ${peer_ipv6_address} remote-as internal
 !
 address-family ipv4 unicast
  redistribute connected route-map LAN-V4-CONNECTED
  neighbor ${peer_ipv4_address} activate
  neighbor ${peer_ipv4_address} prefix-list DEFAULT-V4-IN in
  neighbor ${peer_ipv4_address} prefix-list LAN-V4-OUT out
 exit-address-family
 !
 address-family ipv6 unicast
  redistribute connected route-map LAN-V6-CONNECTED
  neighbor ${peer_ipv6_address} activate
  neighbor ${peer_ipv6_address} prefix-list DEFAULT-V6-IN in
  neighbor ${peer_ipv6_address} prefix-list LAN-V6-OUT out
 exit-address-family
exit
!
